<ion-header mode="ios">
  <ion-toolbar [color]="color" mode="md" style="--border-width: 0px;">
    <ion-title>
      <span style="padding-left: 10px;">{{ 'TUTORIAL' | translate }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="toolbar-end-btn" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [color]="color" #content>

  <ion-item class="content-item ion-no-padding" lines="none" [color]="color">
    <ion-icon class="ion-padding-horizontal" src="assets/icon/history.svg"
      [color]="'primary'"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
          {{ 'TUTORIAL_TOUCH_HISTORY' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

  <ion-item class="content-item ion-no-padding" lines="none" [color]="color">
    <ion-icon class="ion-padding-horizontal" name="star" [color]="'primary'">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
          {{ 'TUTORIAL_TOUCH_BOOKMARK' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

  <ion-item class="content-item ion-no-padding" lines="none" [color]="color">
    <ion-icon class="ion-padding-horizontal" src="assets/icon/swipe-left.svg"
      [color]="'primary'"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
          {{ 'TUTORIAL_SWIPE_LEFT' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

  <ion-item class="content-item ion-no-padding" lines="none" [color]="color">
    <ion-icon class="ion-padding-horizontal" src="assets/icon/swipe-right.svg"
      [color]="'primary'"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
          {{ 'TUTORIAL_SWIPE_RIGHT' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer mode="md">

  <ion-item lines="none" [color]="color" style="--ripple-color: transparent;">
    <ion-checkbox class="ion-margin-horizontal" [(ngModel)]="env.notShowHistoryTutorial"
      [color]="'primary'" (ionChange)="saveTutorialShowing()"></ion-checkbox>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
          {{ 'TUTORIAL_NOT_SHOW_AGAIN' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

</ion-footer>