<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="scan" [icon]="'arrow-back'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTING' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios">
    <ion-item lines="none" button (click)="setLanguage()">
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" name="language"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'LANGUAGE' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item lines="none" button (click)="setColorTheme()">
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" name="color-palette"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'COLOR_THEME' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item lines="none" button (click)="setCameraPause()">
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" name="camera"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'CAMERA_PAUSE' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item lines="none" button>
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" src="assets/icon/history.svg"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'SCAN_HISTORY_LOGGING' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item lines="none" button>
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" name="logo-github"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'ABOUT_SIMPLE_QR' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item lines="none" button>
      <ion-icon [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'" src="assets/icon/dollar.svg"></ion-icon>
      <ion-label>
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'SUPPORT_DEVELOPER' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>