<ion-header mode="ios">
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'" mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="scan" [icon]="'arrow-back'">
      </ion-back-button>
    </ion-buttons> -->
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" (click)="navigateAbout()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" name="information-circle-sharp">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'ABOUT' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" (click)="setLanguage()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" name="globe-sharp">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'LANGUAGE' | translate }}
        </ion-text>
      </p>
    </ion-label>
    <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" (click)="setColorTheme()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" name="color-palette"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'COLOR_THEME' | translate }}
        </ion-text>
      </p>
    </ion-label>
    <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" button
    (click)="setSearchEngine()">
    <ion-icon *ngIf="env.searchEngine === 'google'" class="ion-margin-start ion-padding-horizontal" [color]="'primary'"
      name="logo-google"></ion-icon>
    <ion-icon *ngIf="env.searchEngine === 'bing'" class="ion-margin-start ion-padding-horizontal" [color]="'primary'"
      src="assets/icon/microsoft-bing.svg"></ion-icon>
    <ion-icon *ngIf="env.searchEngine === 'yahoo'" class="ion-margin-start ion-padding-horizontal" [color]="'primary'"
      src="assets/icon/yahoo.svg"></ion-icon>
    <ion-icon *ngIf="env.searchEngine === 'duckduckgo'" class="ion-margin-start ion-padding-horizontal"
      [color]="'primary'" src="assets/icon/duck-duck-go.svg"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'SEARCH_ENGINE' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" button (click)="setVibration()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" src="assets/icon/vibration.svg">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'VIBRATION' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" button
    (click)="setScanRecordLogging()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" src="assets/icon/history.svg">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'LOGGING_BACKUP_RESTORE' | translate }}
        </ion-text>
      </p>
    </ion-label>
    <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
  </ion-item>
  <ion-item *ngIf="env.debugModeOn === 'on'" mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" button
    (click)="setDebugMode()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" name="code-slash">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'DEBUG_MODE' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" (click)="resetApp()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" src="assets/icon/reset.svg">
    </ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'RESET_APP' | translate }}
        </ion-text>
      </p>
    </ion-label>
    <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
  </ion-item>
  <ion-item *ngIf="isAndroid" mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none" (click)="confirmExitApp()">
    <ion-icon class="ion-margin-start ion-padding-horizontal" color="danger" name="exit"></ion-icon>
    <ion-label>
      <p class="ion-padding">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'EXIT_APP' | translate }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

</ion-content>