<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="generate">
      <ion-icon name="create"></ion-icon>
      <ion-label>{{ 'CREATE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="import-image">
      <ion-icon name="image"></ion-icon>
      <ion-label>{{ 'IMPORT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon src="assets/icon/qrscan.svg"></ion-icon>
      <ion-label>{{ 'SCAN' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon src="assets/icon/history.svg"></ion-icon>
      <ion-label>{{ 'HISTORY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'SETTING' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>