<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="generate" (click)="tapHaptic()" layout="label-hide">
      <ion-icon name="create"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="import-image" (click)="tapHaptic()" layout="label-hide">
      <ion-icon name="image"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan" (click)="tapHaptic()" layout="label-hide">
      <ion-icon src="assets/icon/qrscan.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history" (click)="tapHaptic()" layout="label-hide">
      <ng-container *ngIf="env.historyPageStartSegment == 'history'">
        <ion-icon src="assets/icon/history.svg"></ion-icon>
      </ng-container>
      <ng-container *ngIf="env.historyPageStartSegment == 'bookmarks'">
        <ion-icon name="bookmark"></ion-icon>
      </ng-container>
    </ion-tab-button>

    <ion-tab-button tab="setting" (click)="tapHaptic()" layout="label-hide">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>