<ion-header>
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
    <ion-buttons slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LOG_BACKUP_RESTORE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-vertical">
    <ion-list-header class="px-4 mx-2">{{ 'HISTORY_PAGE_START' | translate }}</ion-list-header>
    <ion-radio-group [(ngModel)]="env.historyPageStartSegment" (ionChange)="saveHistoryPageStartSegment()">
      <ion-item class="ion-no-padding ripple-parent py-1" detail="false" lines="none">
        <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" src="assets/icon/history.svg">
        </ion-icon>
        <ion-label>
          <p class="ion-padding-horizontal">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
              {{ 'LOG' | translate }}
            </ion-text>
          </p>
        </ion-label>
        <ion-radio class="ion-margin-end" slot="end" [value]="'history'" [color]="'primary'">
        </ion-radio>
      </ion-item>
      <ion-item class="ion-no-padding ripple-parent py-1" detail="false" lines="none">
        <ion-icon class="ion-margin-start ion-padding-horizontal" [color]="'primary'" name="bookmark">
        </ion-icon>
        <ion-label>
          <p class="ion-padding-horizontal">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
              {{ 'BOOKMARK' | translate }}
            </ion-text>
          </p>
        </ion-label>
        <ion-radio class="ion-margin-end" slot="end" [value]="'bookmarks'" [color]="'primary'">
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="ion-padding-vertical">
    <ion-list-header class="px-4 mx-2">{{ 'AUTO_LOGGING' | translate }}</ion-list-header>
    <ion-item class="ion-no-padding" lines="none">
      <ion-label class="ion-padding-start">
        <p class="ion-padding-horizontal">
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
            {{ 'AUTO_LOGGING_EXPLAIN' | translate }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="env.scanRecordLogging" (ionChange)="saveScanRecord()">
      <ion-item class="ion-no-padding ripple-parent py-1" detail="false" lines="none">
        <ion-label class="ion-padding-start">
          <p class="ion-padding-horizontal">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
              {{ 'TURN_ON' | translate }}
            </ion-text>
          </p>
        </ion-label>
        <ion-radio class="ion-margin-end" slot="end" [value]="'on'" [color]="'primary'">
        </ion-radio>
      </ion-item>
      <ion-item class="ion-no-padding ripple-parent py-1" detail="false" lines="none">
        <ion-label class="ion-padding-start">
          <p class="ion-padding-horizontal">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
              {{ 'TURN_OFF' | translate }}
            </ion-text>
          </p>
        </ion-label>
        <ion-radio class="ion-margin-end" slot="end" [value]="'off'" [color]="'primary'">
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="ion-padding-vertical mb-2">
    <ion-list-header class="px-4 mx-2">{{ 'BACKUP' | translate }}</ion-list-header>
    <ion-item class="ion-no-padding" lines="none">
      <ion-label class="ion-padding-start">
        <p class="ion-padding-horizontal">
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
            {{ 'BACKUP_EXPLAIN' | translate }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
    <div class="ion-padding-horizontal pt-3 d-flex justify-content-center align-content-start flex-column">
      <ion-button class="ion-padding-horizontal" color="primary" (click)="onBackup()">
        {{ 'BACKUP' | translate }}
      </ion-button>
    </div>
  </div>

  <div class="ion-padding-vertical">
    <ion-list-header class="px-4 mx-2">{{ 'RESTORE' | translate }}</ion-list-header>
    <ion-item class="ion-no-padding" lines="none">
      <ion-label class="ion-padding-start">
        <p class="ion-padding-horizontal">
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
            {{ (isIOS? 'RESTORE_EXPLAIN_IOS' : 'RESTORE_EXPLAIN') | translate }}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
    <div class="ion-padding-horizontal pt-3 d-flex justify-content-center align-content-start flex-column">
      <ion-button class="ion-padding-horizontal" color="primary" (click)="onRestore()">
        {{ 'RESTORE' | translate }}
      </ion-button>
    </div>
  </div>

</ion-content>