<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="scan" [icon]="'arrow-back'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SCAN_HISTORY_LOGGING' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-radio-group [(ngModel)]="env.scanRecordLogging" (ionChange)="saveScanRecord()">
    <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none">
      <ion-label class="ion-padding-start">
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'TURN_ON' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-radio class="ion-margin-end" mode="md" slot="end" [value]="'on'"
        [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'">
      </ion-radio>
      <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
    </ion-item>
    <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false" lines="none">
      <ion-label class="ion-padding-start">
        <p class="ion-padding">
          <ion-text [color]="env.colorTheme === 'dark'? 'light' : 'dark'" style="font-size: large;">
            {{ 'TURN_OFF' | translate }}
          </ion-text>
        </p>
      </ion-label>
      <ion-radio class="ion-margin-end" mode="md" slot="end" [value]="'off'"
        [color]="env.colorTheme === 'dark'? 'primary' : 'secondary'">
      </ion-radio>
      <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
    </ion-item>
  </ion-radio-group>

</ion-content>