<ion-header mode="ios">
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'" mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="scan" [icon]="'arrow-back'">
      </ion-back-button>
    </ion-buttons> -->
    <ion-title *ngIf="segmentModel === 'history'">{{ 'HISTORY' | translate }}</ion-title>
    <ion-title *ngIf="segmentModel === 'bookmarks'">{{ 'BOOKMARKS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)" [color]="'primary'">
    <ion-segment-button [value]="'history'">
      <ion-icon src="assets/icon/history.svg"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [value]="'bookmarks'">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="segmentModel === 'history' && firstLoad">
    <div class="ion-padding-horizontal fullscreen-vertical-center" style="height: 85%">
      <ion-spinner name="crescent" [color]="env.colorTheme === 'light'? 'dark' : 'light'"
        style="width: 3rem; height: 3rem"></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="segmentModel === 'history' && (!scanRecords || (scanRecords.length <= 0)) && !firstLoad">
    <div class="ion-padding-horizontal fullscreen-vertical-center" style="height: 85%">
      <ion-icon src="assets/icon/history.svg" [color]="env.colorTheme === 'light'? 'dark' : 'light'"
        style="font-size: 3rem"></ion-icon>
      <p class="ion-text-center">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'SCANNING_HISTORY_SHOWN' | translate }}
        </ion-text>
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="segmentModel === 'history' && scanRecords && scanRecords.length > 0 && !firstLoad">
    <ion-list mode="ios">
      <ion-item-sliding *ngFor="let record of scanRecords; index as i" #slidingItem>
        <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false"
          [lines]="i === scanRecords.length - 1? 'none' : 'full'" (click)="processQrCode(record.text)">
          <ion-label class="ion-padding-start">
            <p class="ion-padding-top ion-padding-horizontal">
              <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
                {{ record.text }}
              </ion-text>
            </p>
            <p *ngIf="env.debugMode === 'on'" class="ion-padding-horizontal">
              <ion-text color="medium">
                {{ record.id }}
              </ion-text>
            </p>
            <p class="ion-padding-bottom ion-padding-horizontal">
              <ion-text color="medium">
                {{ maskDatetime(record.createdAt) }}
              </ion-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="start" (ionSwipe)="addFavourite(record, slidingItem)">
          <ion-item-option [color]="'primary'" expandable (click)="addFavourite(record, slidingItem)">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="removeRecord(record, slidingItem)">
            <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="segmentModel === 'bookmarks' && (!bookmarks || (bookmarks.length <= 0))">
    <div class="ion-padding-horizontal fullscreen-vertical-center" style="height: 85%">
      <ion-icon name="star" [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: 3rem"></ion-icon>
      <p class="ion-text-center">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'FAVOURITE_TEXT_SHOWN' | translate }}
        </ion-text>
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="segmentModel === 'bookmarks' && bookmarks && bookmarks.length > 0">
    <ion-list mode="ios">
      <ion-item-sliding *ngFor="let bookmark of bookmarks; index as i" #slidingItem>
        <ion-item mode="ios" class="ion-no-padding ripple-parent" detail="false"
          [lines]="i === bookmarks.length - 1? 'none' : 'full'" (click)="processQrCode(bookmark.text)">
          <ion-label class="ion-padding-start">
            <p class="ion-padding">
              <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
                {{ bookmark.text }}
              </ion-text>
            </p>
          </ion-label>
          <!--<ion-ripple-effect type="bounded"></ion-ripple-effect> -->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="removeBookmark(bookmark, slidingItem)">
            <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

</ion-content>

<ion-footer mode="ios"
  [ngStyle]="env.colorTheme === 'dark'?  {'background-color': '#222428'} : (env.colorTheme === 'black'? {'background-color': '#000000'} : {'background-color': '#F0F0F0'})">
  <ion-row class="d-flex justify-content-around">
    <ion-button mode="md" (click)="tapHaptic(); removeAll()" [color]="'danger'" fill="clear"
      *ngIf="(segmentModel === 'bookmarks' && bookmarks && bookmarks.length > 0) || (segmentModel === 'history' && scanRecords && scanRecords.length > 0)">
      {{ 'REMOVE_ALL' | translate }}
    </ion-button>
    <ion-button mode="md" (click)="tapHaptic(); goSetting()" [color]="'primary'" fill="clear">
      {{ 'SETTING' | translate }}
    </ion-button>
  </ion-row>
</ion-footer>