body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

ion-content {
    visibility: visible;
    --background: transparent;
}

.square {
    visibility: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    width: 250px;
    height: 250px;
    border: 10px solid rgba($color: #00a5aa, $alpha: 0.5);
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

.zoom-ratio-wrapper {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    width: 50%;
}
