<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>{{ 'SIMPLE_QR' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="guide">
    <img class="svg guide-frame" src="assets/img/guide-frame.svg">
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>