body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

ion-content {
    visibility: visible;
    --background: transparent;
}

.square {
    visibility: visible;
    position: absolute;
    left: 50%;
    top: calc(45% + env(safe-area-inset-top, 0));
    transform: translate(-50%, -50%);
    border-radius: 18px;
    width: 225px;
    height: 225px;
    border: 8px solid rgba($color: #00a5aa, $alpha: 0.5);
    opacity: 0.6 !important;
}

.zoom-ratio-wrapper {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    width: 50%;
}

ion-range {
    opacity: 0.8 !important;
}

ion-toolbar {
    --background: transparent !important;
    --border-color: transparent !important;
}

ion-fab-button {
    --background: transparent !important;
    --box-shadow: none !important;
}

ion-fab {
    z-index: 20; /* Above overlay and zoom slider */
}
