<ion-header>
  <div *ngIf="env.startPage == '/tabs/import-image' && env.startPageHeader == 'on'; then mainHeader else selfHeader">
  </div>
  <ng-template #mainHeader>
    <ion-toolbar color="primary">
      <ion-title>{{ 'SIMPLE_QR' | translate}}</ion-title>
    </ion-toolbar>
  </ng-template>
  <ng-template #selfHeader>
    <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
      <ion-title>{{ 'IMPORT_IMAGE' | translate }}</ion-title>
    </ion-toolbar>
  </ng-template>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal fullscreen-vertical-center" style="height: 100%;">
    <div class="ion-text-center">
      <ion-icon class="pb-2" name="image" [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: 5rem">
      </ion-icon>
      <p class="pt-1 px-3">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'MSG.SCAN_QR_FROM_IMAGE' | translate }}
        </ion-text>
      </p>
    </div>
    <ion-button class="my-3" (click)="tapHaptic(); importImage()">
      {{ 'IMPORT_IMAGE' | translate }}
    </ion-button>
  </div>
</ion-content>