<ion-header mode="ios">
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'" mode="ios">
    <ion-title>{{ 'IMPORT_IMAGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal fullscreen-vertical-center" style="height: 100%;">
    <button mat-flat-button (click)="importImage()" style="background-color: transparent !important;">
      <ion-icon name="image" [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: 3rem">
      </ion-icon>
      <p class="ion-text-center">
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="font-size: large;">
          {{ 'MSG.SCAN_QR_FROM_IMAGE' | translate }}
        </ion-text>
      </p>
    </button>
  </div>
</ion-content>