<ion-content style="--background: transparent !important;">
  <div class="d-flex align-items-center justify-content-center flex-column" style="height: 100%;">
    <ion-row>
      <ion-col class="ion-text-center ion-padding" style="max-width: 100% !important;">
        <ngx-qrcode [elementType]="qrElementType" [value]="qrCodeContent" [width]="300"
          [errorCorrectionLevel]="errorCorrectionLevel" [colorDark]="qrColorDark" [colorLight]="qrColorLight"
          [margin]="qrMargin">
        </ngx-qrcode>
      </ion-col>
    </ion-row>
    <ion-row style="max-width: 300px;">
      <ion-col class="ion-text-center">
        <span class="qr-code">
          {{ qrCodeContent }}
        </span>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer mode="ios" style="--background: transparent !important;">
  <ion-row class="d-flex justify-content-between">
    <ion-button mode="md" size="large" (click)="tapHaptic(); close()" fill="clear" [color]="env.colorTheme === 'light'? 'dark' : 'light'">
      <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
    </ion-button>
    <ion-button mode="md" size="large" (click)="tapHaptic(); shareQrCode()" fill="clear" [color]="env.colorTheme === 'light'? 'dark' : 'light'">
      <ion-icon slot="icon-only" name="share-social"></ion-icon>
    </ion-button>
  </ion-row>
</ion-footer>