.qr-code {
    display: block;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: medium;
}

ion-footer {
    --background: var(--ion-background-color, #fff);
}