<ion-header mode="ios">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-button class="toolbar-start-btn" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'NEW_CONTACT' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="toolbar-end-btn" (click)="saveContent()">
        {{ 'SAVE' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-padding-horizontal ion-padding">
    <ion-col size="2" style="display: flex; align-items: center;">
      <mat-icon [style]="env.colorTheme === 'dark'? 'color: rgba(255, 255, 255, 0.6);' : 'color: rgba(0, 0, 0, 0.6);'">
        info
      </mat-icon>
    </ion-col>
    <ion-col size="10" style="display: flex; align-items: center;">
      <mat-hint [style]="env.colorTheme === 'dark'? 'color: rgba(255, 255, 255, 0.6);' : 'color: rgba(0, 0, 0, 0.6);'">
        {{ 'NEW_CONTACT_TIP' | translate}}
      </mat-hint>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline"
        color="accent">
        <mat-label>{{ 'FIRST_NAME' | translate}}</mat-label>
        <input #givenNameInput="matInput" matInput [(ngModel)]="givenName" type="text" />
        <mat-hint>{{ 'REQUIRED' | translate}}</mat-hint>
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline" color="accent">
        <mat-label>{{ 'LAST_NAME' | translate}}</mat-label>
        <input matInput [(ngModel)]="familyName" type="text">
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline" color="accent">
        <mat-label>{{ 'PHONE_NUMBER' | translate}}</mat-label>
        <input matInput [(ngModel)]="phoneNumber" type="tel">
        <mat-icon matSuffix color="accent">call</mat-icon>
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline" color="accent">
        <mat-label>{{ 'PHONE_TAG' | translate}}</mat-label>
        <mat-select [(ngModel)]="phoneNumberType">
          <mat-option [value]="type.value" *ngFor="let type of phoneNumberTypes">
            {{ type.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline" color="accent">
        <mat-label>{{ 'EMAIL_ADDRESS' | translate}}</mat-label>
        <input matInput [(ngModel)]="emailAddress" type="email">
        <mat-icon matSuffix color="accent">alternate_email</mat-icon>
      </mat-form-field>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal ion-padding-bottom">
    <ion-col>
      <mat-form-field [class]="env.colorTheme === 'dark'? 'ng-mat-dark' : 'ng-mat-light' " appearance="outline" color="accent">
        <mat-label>{{ 'EMAIL_TAG' | translate}}</mat-label>
        <mat-select [(ngModel)]="emailType">
          <mat-option [value]="type.value" *ngFor="let type of emailTypes">
            {{ type.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ion-row>

</ion-content>